<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container">
    <%= image_tag "theatre.png", class: "img-fluid", alt: "Theatre Cover", style: "max-height: 300px; width: 100%;" %>
  </div>
</div>

<div class="container mt-4">
  <h1>All Lists</h1>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if list.image_url.attached?%>
            <%= cl_image_tag list.image_url.key, height: 300, width: 400, crop: :fill%>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <p class="card-text">Number of movies: <%= list.movies.count %></p>
            <%= link_to "View List", list_path(list), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
