<h1>New Bookmark</h1>

<%= simple_form_for [list, bookmark] do |form| %>
  <%= form.association :movie %>
  <%= form.association :list %>
  <%= form.input :comment %>

  <%= form.button :submit, "Create Bookmark" %>
<% end %>

<%= link_to "Back to List", list_path(@list) %>
